################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TP1_CODIGO_SOLUCION/.vs/TP1_CODIGO_SOLUCION
/.vs/Tp repositorio/v17
